@import "variables";

// About
.about {
  &__title {
    text-align: center;
    font-size: $fontTitle;
    color: $colorPrimaryDark;
    font-weight: $fontBold;
  }

  &__container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 1.875rem;
    padding: 1.875rem;
    .bold {
      color: $colorSecondaryDark;
      font-weight: bold;
    }
    p {
      color: $colorPrimaryDark;
      font-size: 0.9375rem;
      padding: 1.25rem;
      text-align: justify;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;

    p {
      padding: 0.625rem;
    }
  }
}
