@import "variables";

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0rem 1.25rem 0rem;
  color: $colorPrimary;
  font-size: 0.9375rem;

  span {
    padding: 0rem 0.3125rem 0rem 0.3125rem;
  }
}
