.title {
  font-size: $fontTitle;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.slider {
  padding: 40px 0;
  &__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1px;
  }
  &__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    align-items: center;
    transition: opacity 1.5s;
    gap: 1em;
  }
  &__body--show {
    opacity: 1;
    pointer-events: unset;
  }
  &__img {
    border-radius: 1%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  &__arrow {
    cursor: pointer;
  }

  &__arrow:nth-of-type(2) {
    justify-self: end;
  }
}

.left {
  margin-left: 20px;
}
.right {
  margin-right: 20px;
}

@media (max-width: 425px) {
  .slider__container {
    grid-template-columns: 25px 1fr 25px;
    gap: 10px;
  }
  .slider__img {
    width: 100%;
    height: 100%;
  }
  .left {
    margin-left: 0px;
  }
  .right {
    margin-right: 0px;
  }
}
