@import "variables";

// Projects
.projects {
  &__title {
    text-align: center;
    font-size: $fontTitle;
    color: $colorPrimaryDark;
    font-weight: $fontWeight;
  }
  &__imgs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  &__imgsChildren {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    h2 {
      font-size: 1.25rem;
      color: $colorSecondaryDark;
      margin: 0.625rem 0rem 0.625rem 0rem;
    }
    img {
      border-radius: 1rem;
      margin: auto;
      width: 90%;
    }
    img:hover {
      transform: scale(0.96);
      transition: all 400ms ease;
    }
    p {
      font-size: 0.9375rem;
      text-align: center;
      margin-bottom: 0.625rem;
    }
  }
}
