@import "variables";

// Main
.main {
  margin: 1.25rem;
  a {
    padding: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after {
      content: "";
      margin-top: 0.0625rem;
      display: block;
      background: #fafafa;
      width: 0rem;
      height: 0.125rem;
      transition: width 0.3s;
    }
    &:hover:after {
      width: 100%;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    color: $colorSecondaryDark;
    margin-top: 4.375rem;
    margin-bottom: 1.25rem;
  }
  &__herocontainer {
    .information {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
        img {
          width: 25%;
          border-radius: 50%;
          border: 3px solid white;
        }
      }
      &__name {
        text-align: center;
        margin-bottom: 2.5rem;
        h1 {
          font-size: 1.25rem;
          letter-spacing: 0.375rem;
          color: $colorPrimaryDark;
          margin-bottom: 0.9375rem;
          font-weight: 300;
        }
        h2 {
          color: $colorSecondaryDark;
          font-size: 1.875rem;
          font-weight: 700;
        }
      }

      &__secondsection {
        li {
          font-size: 1.25rem;
          font-weight: 100;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 2.8125rem;
        }
      }
    }
  }
  &__mail {
    display: flex;
    justify-content: flex-end;
    margin: 1.875rem 1.5625rem 0rem 0rem;
    a {
      color: $colorSecondaryDark;
      width: auto;
    }
  }
}

@media (max-width: 26.5625rem) {
  .main {
    &__herocontainer {
      .information {
        &__img {
          img {
            width: 60%;
          }
        }
        &__secondsection {
          ul {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    &__mail {
      margin-top: 0.625rem;
    }
  }
}
