@import "variables";

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: $fontTitle;
    color: $colorPrimaryDark;
    font-weight: $fontWeight;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  $colors: (
    css: $colorSecondaryDark,
    js: $colorSecondaryDark,
    nodejs: $colorSecondaryDark,
    mongodb: $colorSecondaryDark,
    express: $colorSecondaryDark,
    reactjs: $colorSecondaryDark,
    sass: $colorSecondaryDark,
    git: $colorSecondaryDark,
    github: $colorSecondaryDark,
    redux: $colorSecondaryDark,
  );

  @each $name, $color in $colors {
    &__#{$name} {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $color;
      padding: 0.9375rem;
      font-size: 4.6875rem;
      width: 20%;

      p {
        font-size: 1.25rem;
        margin: 1.25rem;
        color: white;
        text-align: center;
      }
    }
  }
}

@media (max-width: 34.375rem) {
  .skills {
    $elements: css, js, nodejs, mongodb, express, reactjs, redux, sass, git,
      github;

    @each $element in $elements {
      &__#{$element} {
        font-size: 3.75rem;
        padding: 0.0625rem;
        width: 40%;
      }
    }
  }
}
