@import "variables";

// Skills
.skills {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: $fontTitle;
    color: $colorPrimary;
    font-weight: $fontWeight;
    margin-top: 30px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__css {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #264de4;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__js {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7df1c;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__nodejs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #68a063;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__mongodb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #13a04b;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__express {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 15px;

    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__reactjs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #61d9fb;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__sass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cd6799;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__git {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f05033;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 20px;
      color: white;
    }
  }
  &__redux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #624097;
    padding: 15px;
    p {
      font-size: 20px;
      margin: 15px;
      color: white;
    }
  }
}
