$fontTitle: 1.875rem;
$fontFamily: "Almarai", sans-serif;
$fontWeight: 500;
$fontBold: 700;

$backgroundDark: #000;
$colorPrimaryDark: #f0f0f0;
$colorSecondaryDark: #ffffff;

$gradient-text: linear-gradient(
  103.22deg,
  #383838 -13.86%,
  #b1b1b1 45%,
  #383838 99.55%
);
// $gradient-text: linear-gradient(103.22deg, #7b1cff -13.86%, #d92eff 99.55%);
