$fontTitle: 1.875rem;
$fontFamily: "Almarai", sans-serif;
$fontWeight: 500;

$backgroundDark: #000;
$colorPrimaryDark: #fafafa;
$colorSecondaryDark: #c175ff;

$gradient-text: linear-gradient(103.22deg, #7b1cff -13.86%, #d92eff 99.55%);
