$colorPrimary: #fafafa;
// $colorSecondary: #ffa600cb;
$colorSecondary: #978af4;
$fontTitle: 1.875rem;
// $fontFamily: Poppins, sans-serif;
// $fontFamily: "Alegreya Sans", sans-serif;
$fontFamily: "Almarai", sans-serif;
$background: #000;
$fontWeight: 500;

// Opciones color secundario
// #7161ef
// #957fef
