@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import "variables";
@import "reset";
@import "main";
@import "about";
@import "education";
@import "itemsWorks";
@import "skills";
@import "copyright";
@import "waves";
body {
  background-color: $backgroundDark;
  color: $colorPrimaryDark;
  min-height: 100vh;
  font-size: 100%;
  hyphens: auto;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  width: 0.4375rem;
}

.container::-webkit-scrollbar-thumb {
  background: $colorSecondaryDark;
  border-radius: 0.3125rem;
}

.gradient__text {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
