@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import "main";
@import "skills";
@import "itemsWorks";
@import "about";
@import "copyright";
@import "education";
@import "reset";
@import "waves";
@import "variables";
body {
  min-height: 100vh;
  font-size: 100%;
  color: var(--color);
  hyphens: auto;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  width: 0.4375rem;
}

.container::-webkit-scrollbar-thumb {
  background: #c175ff;
  border-radius: 0.3125rem;
}
