---
import { CiGlobe, CiLocationOn, CiUser } from "react-icons/ci";
---

<link rel="stylesheet" href="https://unpkg.com/emoji.css/dist/emoji.min.css" />
<div class="about">
  <div class="about__container">
    <!-- <img src="/assets/img/lucianoGonzalez2.jpeg" alt="" /> -->
    <h1 class="about__title" id="about">¿Quien soy?</h1>
    <p>
      <b style="color: #978AF4;">
        Hola, mi nombre es Luciano González y tengo 18 años.
      </b>
      Soy de Argentina y me encuentro en el camino hacia mi carrera en el desarrollo
      web. Empecé mi camino en este campo en 2021 y desde entonces, he estado trabajando
      duro para mejorar y crecer profesionalmente.
      <b style="color: #978AF4;">
        Estoy dispuesto a asumir nuevos desafíos y estoy constantemente buscando
        maneras de aprender y evolucionar.
      </b>
    </p>
    <p>
      Mi fuerte deseo de aprender y evolucionar impulsa mi éxito en el campo.
      Cuando no estoy en mi computadora, me gusta escuchar música, ver series y
      jugar al fútbol. Estos hobbies me permiten relajarme y desconectar de mi
      trabajo.
    </p>
    <p>
      <b style="color: #978AF4;">
        Actualmente, estoy construyendo sitios web personales para adquirir más
        experiencia y desarrollar mis habilidades.
      </b>
      Aunque todavía no he trabajado en una empresa, estoy seguro de que mi dedicación
      y esfuerzo me permitirán alcanzar mis metas profesionales. En resumen, estoy
      comprometido a mejorar y crecer en el campo del desarrollo web y estoy ansioso
      por ver los frutos de mi trabajo en el futuro.
    </p>
  </div>
  <!-- <div class="about__footer">
    <p>
      <CiUser /> 18 Años
    </p>
    <p>
      <CiGlobe />Español
    </p>
    <p>
      <CiLocationOn />Buenos Aires, Argentina
    </p>
  </div> -->
</div>

<style>
  b {
    color: red;
  }
</style>
