---
---

<div class="about">
  <div class="about__container">
    <h1 class="about__title gradient__text" id="about">¿Quien Soy?</h1>
    <p>
      <b class="bold">Hola, mi nombre es Luciano González y tengo 19 años.</b>
      Soy de Argentina y estoy encaminado hacia una carrera en desarrollo web. Comencé
      mi camino en este campo en 2021 y desde entonces, he estado trabajando duro
      para mejorar y crecer profesionalmente.
      <b class="bold">
        Estoy dispuesto a enfrentar nuevos desafíos y estoy constantemente
        buscando formas de aprender y evolucionar.
      </b>
    </p>
    <p>
      Mi fuerte deseo de aprender y evolucionar impulsa mi éxito en el campo.
      Cuando no estoy frente a mi computadora, me gusta escuchar música, ver
      series y jugar al fútbol. Estos pasatiempos me permiten relajarme y
      desconectarme de mi trabajo.
    </p>
    <p>
      <b class="bold">
        Actualmente, estoy construyendo sitios web personales para ganar más
        experiencia y desarrollar mis habilidades.
      </b>
      Aunque aún no he trabajado para una empresa, estoy seguro de que mi dedicación
      y esfuerzo me permitirán alcanzar mis metas profesionales. En conclusión, estoy
      comprometido a mejorar y crecer en el campo del desarrollo web y estoy ansioso
      por ver los frutos de mi trabajo en el futuro.
    </p>
  </div>
</div>
