---
---

<div class="about">
  <div class="about__container">
    <h1 class="about__title" id="about">Who I am?</h1>
    <p>
      <b class="bold"
        >Hello, my name is Luciano González and I am 18 years old.</b
      >
      I am from Argentina and on my way to a career in web development. I started
      my journey in this field in 2021 and since then, I have been working hard to
      improve and grow professionally.
      <b class="bold">
        I am willing to take on new challenges and am constantly seeking ways to
        learn and evolve.
      </b>
    </p>
    <p>
      My strong desire to learn and evolve drives my success in the field. When
      I'm not at my computer, I like to listen to music, watch series, and play
      soccer. These hobbies allow me to relax and disconnect from my work.
    </p>
    <p>
      <b class="bold">
        Currently, I am building personal websites to gain more experience and
        develop my skills.
      </b>
      Although I have not yet worked for a company, I am sure that my dedication
      and effort will allow me to achieve my professional goals. In conclusion, I
      am committed to improving and growing in the field of web development and I
      am eager to see the fruits of my work in the future.
    </p>
  </div>
</div>
