---
import {
  HiOutlineArrowNarrowLeft,
  HiOutlineArrowNarrowRight,
} from "react-icons/hi";

const certificateData = [
  {
    id: 1,
    src: "/assets/img/certificates/DW.png",
    alt: "certificado desarrollo web",
  },
  {
    id: 2,
    src: "/assets/img/certificates/JS.png",
    alt: "certificado javascript",
  },
  {
    id: 3,
    src: "/assets/img/certificates/REACTJS.png",
    alt: "certificado reactjs",
  },
  {
    id: 4,
    src: "/assets/img/certificates/BACKEND.png",
    alt: "certificado nodejs",
  },
  {
    id: 5,
    src: "/assets/img/certificates/NODE.jpeg",
    alt: "certificado nodejs",
  },
];
---

<h1 class="title gradient__text" id="education">Mi educación</h1>
<section class="slider">
  <div class="slider__container container">
    <HiOutlineArrowNarrowLeft
      className="slider__arrow left"
      id="before"
      size={30}
    />

    {
      certificateData.map((certificate) => (
        <section
          class="slider__body"
          key={certificate.id}
          data-id={certificate.id}
        >
          <figure class="slider__picture">
            <img
              src={certificate.src}
              alt={certificate.alt}
              class="slider__img"
            />
          </figure>
        </section>
      ))
    }

    <HiOutlineArrowNarrowRight
      className="slider__arrow right"
      id="next"
      size={30}
    />
  </div>
</section>

<script>
  (function () {
    const sliders = [...document.querySelectorAll(".slider__body")];
    const arrowBefore = document.querySelector("#before");
    const arrowNext = document.querySelector("#next");

    let value;

    // Set the "slider__body--show" class on the first element of the "sliders" array
    sliders[0].classList.add("slider__body--show");

    arrowNext.addEventListener("click", () => changePosition(1));
    arrowBefore.addEventListener("click", () => changePosition(-1));

    const changePosition = (change) => {
      const currentElement = Number(
        document.querySelector(".slider__body--show").dataset.id
      );

      value = currentElement;
      value += change;
      if (value === 0 || value == sliders.length + 1) {
        value = value === 0 ? sliders.length : 1;
      }

      sliders[currentElement - 1].classList.toggle("slider__body--show");
      sliders[value - 1].classList.toggle("slider__body--show");
    };
  })();
  const animatedImage = document.querySelectorAll(".slider__img");
</script>
