---
import { FaLinkedinIn, FaGithub } from "react-icons/fa/index.js";
import { MdOutlineEmail } from "react-icons/md/index.js";

const img = "/assets/img/my/lucianoGonzalez.jpeg";
---

<div class="main">
  <div class="main__icons">
    <a href="https://www.linkedin.com/in/lucianogonzalez05/" target="_blank"
      ><FaLinkedinIn size={25} /></a
    >
    <a
      href="mailto:luchogonzalez080@gmail.com?Subject=Interesado%20en%20tus%20servicios"
      ><MdOutlineEmail size={27} /></a
    >
    <a href="https://github.com/LuchoDevjs" target="_blank"
      ><FaGithub size={25} /></a
    >
  </div>
  <div class="main__herocontainer information">
    <div class="information__firssection">
      <div class="information__img">
        <img src={img} alt="" />
      </div>
      <div class="information__name">
        <h1 class="title">DESARROLLADOR WEB</h1>
        <h2 class="gradient__text">LUCIANO GONZALEZ</h2>
      </div>
    </div>

    <div class="information__secondsection">
      <ul class="wrapper">
        <li><a href="#about" class="third after about">SOBRE MI</a></li>
        <li><a href="#education" class="third after about">MY EDUCACIÓN</a></li>
        <li><a href="#works" class="projects">MIS PROJECTOS</a></li>
        <li><a href="#skills" class="skills">HABILIDADES</a></li>
      </ul>
    </div>
  </div>
</div>
