---
import {
  FaCss3Alt,
  FaNode,
  FaReact,
  FaGit,
  FaGithub,
  FaJsSquare,
  FaSass,
} from "react-icons/fa/index.js";
import { SiRedux, SiMongodb, SiExpress } from "react-icons/si/index.js";

const skills = [
  { className: "skills__css", icon: FaCss3Alt, title: "Css" },
  { className: "skills__sass", icon: FaSass, title: "Sass" },
  { className: "skills__js", icon: FaJsSquare, title: "Javascript" },
  { className: "skills__reactjs", icon: FaReact, title: "React JS" },
  { className: "skills__redux", icon: SiRedux, title: "Redux" },
  { className: "skills__nodejs", icon: FaNode, title: "Node JS" },
  { className: "skills__mongodb", icon: SiMongodb, title: "Mongo DB" },
  { className: "skills__express", icon: SiExpress, title: "Express" },
  { className: "skills__git", icon: FaGit, title: "Git" },
  { className: "skills__github", icon: FaGithub, title: "Github" },
];
---

<h1 class="skills__title gradient__text" id="skills">Mis habilidades</h1>
<section class="skills">
  <section class="skills__list">
    {
      skills.map((skill) => (
        <div key={skill.title} className={skill.className}>
          <skill.icon />
          <p>{skill.title}</p>
        </div>
      ))
    }
  </section>
</section>
